*
{
    margin: 0;
    padding: 0;
}
.set1
{
    text-align: center;
    line-height: 2;
   
}
.set2

{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
    
}

.set3
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.mini
{
    margin-right: 200px;
}
.set4
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.set4 ul li{
    margin-left: 50px;
}
.set5
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.set6
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.set7
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.set8
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.set8 ul li{
    margin-left: 50px;
}
.set9
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   

}
.set10
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.sr
{
    margin-left: 220px;
}
.set11
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
}
.rose
{
    text-align: left;
    margin-left: 550px;
   
}
.rose1
{
    text-align: left;
    margin-left: 550px;
    line-height: 1.5;
   
   
}
.rose2
{
    text-align: left;
    margin-left: 550px;
   
}
.rose2 h2 {
    margin-left: 220px;
}
.rose2 p {
    margin-left: 350px;
}
.rose3
{
    text-align: center;
   
    color: rgb(9, 8, 8);
}
p{
    font-size: 20px;
}
